/* vars */
:root {
  /* color background */
  --main-bac-color: #f2f2f2;
  --secondary-bac-color: #1f1f1f;

  /* color text */
  --main-text-color: #000000;
  --secondary-text-color: white;

  /* ui colors */
  --main-link-color: #2f80ed;
  --main-link-color-active: #1118ee;
  --secondary-link-color: white;
  --secondary-link-color-active: rgb(189, 181, 181);

  /* z-index */
  --z-main-illustration: 10;
  --z-header-subtitle: 20;
  --z-header-title: 30;
  --z-table: 10;
  /* P.S. не хочу использоывать z-index:-1 т.к. читал что
   это негативно может сказаться на производительности*/
}

/* animation */

@keyframes transform-arrow {
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes transform-icon {
  25% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

/* common */

* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  border: none;

  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.link__animated-arrow {
  position: absolute;

  transition: transform 0.5s ease;
  transform: translateX(0);
}

.link_ui_more {
  position: relative;

  color: var(--main-link-color);
}

.link_ui_more:hover .link__animated-arrow,
.link_ui_more:focus .link__animated-arrow {
  animation: transform-arrow 0.5s infinite ease-in-out;
}

.link_ui_more:focus {
  outline: none;
  box-shadow: 0 1px var(--main-link-color);
}

.link_ui_more:active {
  color: var(--main-link-color-active);
  box-shadow: 0 1px var(--main-link-color-active);
}

.link_ui_more:active .link__animated-arrow {
  animation: none;
  transform: translateX(20%);
}

.link_ui_secondary {
  color: var(--secondary-link-color);
}

.link_ui_secondary:hover,
.link_ui_secondary:focus {
  outline: none;
  box-shadow: 0 1px var(--secondary-link-color);
}

.link_ui_secondary:hover .link__animated-icon,
.link_ui_secondary:focus .link__animated-icon {
  animation: transform-icon 0.5s infinite ease-in-out;
}

.link_ui_secondary:active {
  color: var(--secondary-link-color-active);
  box-shadow: 0 1px var(--secondary-link-color-active);
}

.link_ui_secondary:active .link__animated-icon {
  animation: none;
  transform: translateX(0);
}

.section_background_main {
  background-color: var(--main-bac-color);
  color: var(--main-text-color);
}

.section_background_secondary {
  background-color: var(--secondary-bac-color);
  color: var(--secondary-text-color);
}

.container {
  position: relative;
  width: 100%;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* header */

.header {
  position: relative;
  height: 100vh;
  padding: 30px 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 600px;
  max-height: 756px;
}

.header__title {
  position: relative;
  width: 730px;
  margin: 0;
  z-index: var(--z-header-title);

  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: var(--z-header-subtitle);

  width: 388px;
  margin: 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: var(--z-main-illustration);

  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;

  height: 568px;
  width: 568px;

  background-color: var(--main-link-color);
}

.logo {
  transition: box-shadow 0.3s ease;
}

.logo:focus {
  outline: none;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_place_footer {
  width: max-content;
}

.logo_place_header:hover,
.logo_place_header:focus {
  box-shadow: 0 1px var(--main-text-color);
}

.logo_place_header:active {
  box-shadow: 0 3px var(--main-text-color);
}

.logo_place_footer:hover,
.logo_place_footer:focus {
  box-shadow: 0 1px var(--secondary-text-color);
}

.logo_place_footer:active {
  box-shadow: 0 3px var(--secondary-text-color);
}

.main {
}

.description {
  padding: 100px 0 50px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: var(--main-link-color);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  padding: 50px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 0 20px;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 0 0 60px;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  margin-bottom: 80px;
}

.table {
  z-index: var(--z-table);

  display: flex;
  justify-content: space-between;
  gap: 60px 0;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.table_theme_dark {
  gap: 80px 0;
}

.table__cell {
  width: 250px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  /* color: white; */
  margin-right: 0;
}

.table__title {
  margin: 0 0 20px;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0 0 20px;

  line-height: 1.2;
  font-size: 18px;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  position: relative;

  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;

  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  width: 648px;
  margin: 0 0 70px;

  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  position: relative;

  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;

  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
}

.footer {
  padding: 60px 0 40px;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  margin: 18px 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
}

.footer__column-heading {
  margin: 0 0 20px;

  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column_content_social {
}
